#elem111{
    background-color: #ff8888;
    left: 30px;
    top: 30px;
}

#elem222{
    background-color: #7e89eb;
    left: 60px;
    top: 60px;
    z-index: 1;
}

#elem333{
    background-color: #4dee99;
    left: 90px;
    top: 90px;
}

#elem444 {
    background-color: #ff8888;
    left: 30px;
    top: 200px;
    z-index: 2;
}

#elem555{
    background-color: #7e89eb;
    left: 60px;
    top: 230px;
    z-index: 1;
}

#elem666{
    background-color: #4dee99;
    left: 90px;
    top: 260px;
}

#elem777{
    background-color: #ff8888;
    left: 30px;
    top: 370px;
}

#elem888{
    background-color: #7e89eb;
    left: 60px;
    top: 400px;
    z-index: -1;
}

#elem999{
    background-color: #4dee99;
    left: 90px;
    top: 430px; 
}

#elem111, #elem222, #elem333, #elem444, #elem555, #elem666, #elem777, #elem888, #elem999{
    width: 50px;
    height: 50px;
    position: absolute;
}