.task
{
    color: black;
}

/* № 25#1 В вашем файле styles.css разместите код, красящий абзацы в красный цвет. 
Откройте страницы вашего сайта в браузере и убедитесь в том, что все абзацы стали красными. */
.t25 
{
	color: red;
}
/* № 26#1 Используя соответствующие селекторы покрасьте заголовки h1 в зеленый цвет, <br>
        заголовки h2 в голубой, заголовки h3 - в красный, а абзацы - в оранжевый. */
.t26
{
    color: orange;
}
.h1-t26
{
    color: green;
}
.h2-t26
{
    color: blue;
}
.h3-t26
{
    color: red;
}
/* № 27#1 С помощью описанных программ сгенерируйте цвет в одном и во втором формате 
и примените эти цвета к каким-нибудь тегам страницы. */

.h4-t27
{
    color: #C936D3;
}

.h5-t27
{
    color: rgb(156, 2, 167)
}

/* № 28#1 Сделайте в HTML коде абзацы с длинным текстом. <br> Средствами CSS поставьте всем абзацам ширину 300px. */
.t28
{
    width: 300px;
}

/* № 28#2 Дана следующая таблица <br> Установите ячейкам этой таблицы ширину в 400px и высоту в 300px. */
.t-t28
{
    width: 400px;
	height:300px;
}

/* № 34#1 Поставьте все заголовки h1 по правому краю. */
.h1-t34
{
    text-align: right;
}
/* № 34#2 Поставьте все заголовки h2 по центру. */
/* № 34#8 Установите заголовкам h2 ширину в 300px. Поставьте их по центру. 
Обратите внимание на то, что центрирование будет происходить внутри этих 300px. */
.h2-t34
{
    width: 300px;
    text-align: center;
}
/* № 34#3 Установите всем таблицам ширину в 500px. */
.t-t34
{
    width: 500px;
}
/* № 34#4 Поставьте текст в ячейках th по левому краю. */
.th-t34
{
    text-align: left;
}
/* № 34#5 Поставьте текст в ячейках td по центру. */
.td-t34
{
    text-align: center;
}
/* № 34#6 Установите всем абзацам ширину в 300px. */
/* № 34#7 Выровняйте текст всех абзацев одновременно по правому и по левому краю. */
.p-t34
{
    width: 300px;
    text-align: justify;
}

/* № 35#1 Скопируйте следующий HTML код себе на страницу.
Установите таблице ширину в 500px, а высоту в 300px.
Сделайте ячейки td жирными и по центру, а ячейки th - нежирными. */
.t-t35
{
    width: 500px;
    height: 300px;
}

.th-t35
{
    font-weight: normal;
}

.td-t35
{
    text-align: center;
    font-weight: bold;
}

/* № 36#1 Сделайте так, чтобы все заголовки h2 на вашей странице были курсивными. */

.h2-t36
{
    font-style: italic;
}

/* № 37#1 Скопируйте следующий HTML код себе на страницу.
        Установите заголовку h1 размер шрифта в 50px и выравнивание по центру,
        заголовкам h2 размер шрифта в 40px и отмените жирность, а абзацам установите шрифт в 30px. */

.h1-t37
{
    font-size: 50px;
    text-align: center;
}

.h2-t37
{
    font-size: 40px;
    font-weight: normal;
}

.p-t37
{
    font-size: 30px;
}

/* № 38#1 Проверьте работу всех шрифтов из приведенного выше списка. */

.t38-Arial
{
    font-family: Arial;    
}
.t38-Georgia
{
    font-family: Georgia;
}
.t38-Verdana
{
    font-family: Verdana;
}
.t38-TrebuchetMS
{
    font-family: Trebuchet MS;
}
.t38-Impact
{
    font-family: Impact;
}
.t38-ArialBlack
{
    font-family: Arial Black;
}
.t38-ComicSansMS
{
    font-family: Comic Sans MS;
}
.t38-CourierNew
{
    font-family: Courier New;
}

/* № 39#1 Пусть размер шрифта для абзацев равен 30px.
 Установите свойство line-height так, чтобы видимый белый промежуток между абзацами был равен 15px. */

.t39
{
    font-size: 30px;
    line-height: 15px;
}

/* № 40#1 Пусть размер шрифта для абзацев равен 30px.
Установите свойство line-height так, чтобы видимый белый промежуток между абзацами был равен 15px.
Используйте для этого значение line-height без единиц. */

.t40
{
    font-size: 30px;
    line-height: 0.5;
}

/* № 41#1 Сократите код, используя свойство-сокращение font*/
.p1-t41
{
    font: Times New Roman 13px;
	line-height: 20px;
}
/* № 41#2 Сократите код, используя свойство-сокращение font*/
.p2-t41
{
    width: 300px;
	font: 40px Arial bold;
	color: red;
}
/* № 41#3 Сократите код, используя свойство-сокращение font*/
.p3-t41
{
    font: 40px Arial bold italic;
	text-indent: 50px;
	line-height: 60px;
}


/* № 42#1 Самостоятельно опробуйте работу свойства text-indent */
.p-t42
{
    text-indent: 20px;
	width: 200px;
}

/* № 44#1 Повторите пример, приведенный ниже. */
.t44
{
    text-decoration: underline;
}

/* № 45#1 Повторите пример, приведенный ниже. */
.t45
{
    text-decoration: overline;
    color: red;
}

/* № 46#1 Повторите пример, приведенный ниже. */
.t46
{
    text-decoration: line-through;
    color: green;
}

/* № 47#1 Повторите пример, приведенный ниже. */
.t47
{
    text-decoration: none;
    color: red;
}
/* № 48#1 Practice CSS */
.h1-p48
{
    width: 500px;
    text-align: center;
    color: blue;
    font-size: 40px
}

.h2-p48
{
    width: 500px;
    text-align: center;
    color: green;
    font-weight: normal;
    font-size: 30px;
}

.p-p48
{
    width: 500px;
    text-align: justify;
    font-size: 16px;
    line-height: 25px;
    font-family: Arial;
    text-indent: 40px;
}

.i-p48
{
    color: green;
}

.ul-p48
{
    width: 400px;
    text-align: justify;
    font-size: 16px;
    line-height: 20px;
}