
/* № 51#1 Упростите код, используя группировку селекторов. */
.t51-1
{
h1, h2, h3
{
    text-align: center;
}
}

/* № 52#1 Упростите код, используя группировку селекторов. */
.t52-1
{
h1, h2, h3 
{
	text-align: center;
}
h2 
{
	color: blue;
}
h3 
{
	font-size: 16px;
	color: red;
}
}

/* № 52#2 Упростите код, используя группировку селекторов. */
.t52-2
{
h1, h2, h3 
{
	text-align: center;
	color: red;
}
h3 
{
	font-size: 16px;
}
}

/* № 53#1 Покрасьте в красный цвет курсив из тегов ul, а в зеленый цвет - курсив из тегов p. */
.t53-1
{
ul li i
{
    color: red;
}

p i
{
    color: green;
}
}

/* № 53#2 Покрасьте в красный цвет курсив, находящийся внутри тега b, который в свою очередь находится внутри тега p. */
.t53-2
{
p b i
{
    color: red;
}
}

/* № 54#1 Покрасьте в красный цвет только те теги b, которые являются непосредственными потомками тегов li. */
.t54-1
{
li > b 
{
    color: red;
}
}

/* № 55#1 Покрасьте в красный цвет элементы с классом odd и в зеленый цвет - элементы с классом eve. */
.odd
{
    color: red;
}

.eve
{
    color: green;
}

/* № 55#2 Покрасьте в красный цвет все элементы с классом eee. */
.eee
{
    color: red;
}

/* № 56#1 Сделайте элементы с классом xxx размером в 30px. */
.xxx
{
    font-size: 30px;
}

/*  № 57#1 Покрасьте содержимое первого дива в красный цвет, содержимое второго дива - в зеленый, 
а содержимое третьего дива - с голубой. Задайте для этого каждому диву свой класс. */
.first
{
    color: red;
}

.second
{
    color: green;
}

.third
{
    color: blue;
}

/* № 57#2 Покрасьте содержимое первого и третьего дива в красный цвет, содержимое второго дива и четвертого - в зеленый. 
Для этого первому и третьему дивам дайте один класс, а второму и четвертому - другой класс.*/
.red
{
    color: red;
}

.green
{
    color: green;
}

/* № 58#1 Упростите код, используя группировку селекторов */
.e
{
	font-size: 20px;
	
}
.z
{
	font-size: 30px;
	
}
.e, .z
{
    line-height: 1.5;
	font-family: Arial;
}

/* № 58#2 Упростите код, используя группировку селекторов */
.ee
{
	font-size: 20px;
}
.zz
{
	font-size: 30px;
}
.gg
{
	font-size: 35px;
}

.ee, .zz, .gg
{
    text-align: center;
	font-family: Arial;
}

/* № 59#1 Сделайте все h2 с классом header размером 40px, а все h3 с этим классом - размером 30px. */
h2.header 
{
    font-size: 40px;
}

h3.header
{
    font-size: 30px;
}

/* № 60#1 Покрасьте в красный цвет все теги i, находящиеся в элементах с классом eee. */
.eeee i
{
    color: red;
}