/* № 61#1 Напишите HTML код, подходящий под этот селектор. */
.eee .bbb 
{
	color: red;
}

/* № 61#2 Напишите HTML код, подходящий под этот селектор. */
.ooo h2 
{
	color: red;
}

/* № 61#3 Напишите HTML код, подходящий под этот селектор. */
.aaa h2.ddd 
{
	color: red;
}

/* № 61#4 Напишите HTML код, подходящий под этот селектор. */
.www h3.qqq 
{
	color: red;
}

/* № 61#5 Напишите HTML код, подходящий под этот селектор. */
.yyy p.uuu 
{
	color: red;
}

/* № 61#6 Напишите HTML код, подходящий под этот селектор. */
.sss .vvv .nnn 
{
	color: red;
}

/* № 62#1 Напишите HTML код, подходящий под этот селектор. */
p.b
{
	color: red;
}

/* № 62#2 Напишите HTML код, подходящий под этот селектор. */
p .l
{
	color: red;
}

/* № 62#3 Напишите HTML код, подходящий под этот селектор. */
.n p.m 
{
	color: red;
}

/* № 62#4 Напишите HTML код, подходящий под этот селектор. */
.nn p .mm 
{
	color: red;
}


/* № 63#1 Пусть у вас также есть 4 абзаца. С помощью представленных классов сделайте так, 
чтобы первый абзац был зеленый и с большим шрифтом, второй абзац - красным и с маленьким шрифтом, 
третий абзац - красным и с большим шрифтом, а четвертый - зеленым и с маленьким шрифтом. */
.success 
{
	color: green;
}
.error 
{
	color: red;
}
.large 
{
	font-size: 30px;
}
.small 
{
	font-size: 20px;
}

/* № 63#2 Придумайте и сделайте 3 какие-нибудь класса. 
Задайте какому-нибудь тегу одновременно все три придуманных вами класса. */
.highlight 
{
    background-color: yellow;
}
.bordered 
{
    border: 2px solid black;
}
.italic 
{
    font-style: italic;
}

/* № 64#1 Покрасьте содержимое блока elem1 в красный цвет, блока elem2 - в зеленый, а блока elem3 - в голубой. */
#elem1 
{
color: red;
}
#elem2 
{
color: green;
}
#elem3 
{
color: blue;
}

/* № 65#1 Стилизуйте блоки по id и по классу */
#block 
{
background-color: lightgray;
padding: 10px;
border: 2px solid black;
}
.text 
{
color: blue;
font-size: 18px;
}

/* № 66#1 Напишите селектор, который выберет все h2, 
находящиеся в элементе с id. Проверьте ваш селектор на следующем коде */
#elem-one h2 
{
color: red; 
}

/*  № 66#2 Напишите селектор, который выберет все элементы с классом, 
находящиеся в элементе с id. Проверьте ваш селектор на следующем коде */
#elem-two .text-two 
{
color: blue; 
}

/*  № 66#3 Напишите селектор, который выберет все абзацы с классом, 
находящиеся в элементе с id. Проверьте ваш селектор на следующем коде*/
#elem-three p.text-three 
{
color: rgb(34, 235, 34);
}

/* № 66#4 Напишите селектор, который выберет все li с классом, 
находящиеся в элементе с id. Проверьте ваш селектор на следующем коде */
#elem-four li.text-four
{
color: orange; 
}

/* № 68#1 Затем напишите HTML код, подходящий под этот селектор. Вот код с селектором */
.by.zy
{
color: red;
}

/* № 68#2 Затем напишите HTML код, подходящий под этот селектор. Вот код с селектором */
h2.bby.zzy 
{
color: red;
}

/* № 68#3 Затем напишите HTML код, подходящий под этот селектор. Вот код с селектором */
#elemm.bby
{
    color: red;
}

/* № 68#4 Затем напишите HTML код, подходящий под этот селектор. Вот код с селектором */
#eleemm.ba.za 
{
	color: red;
}

/* № 68#5 Затем напишите HTML код, подходящий под этот селектор. Вот код с селектором */
h2#elem.byb
{
	color: red;
}

/*№ 69#1 Затем напишите HTML код, подходящий под этот селектор. Вот код с селектором*/
h2.my
{
	color: red;
}

/*№ 69#2 Затем напишите HTML код, подходящий под этот селектор. Вот код с селектором*/
h2 .myy
{
	color: red;
}

/*№ 71#1 Упростите код, используя группировку селекторов*/
#block h1 {
	text-align: center;
}
#block h2 {
	text-align: center;
	color: blue;
}
#block h3 {
	text-align: center;
	font-size: 16px;
	color: red;
}

/*№ 72#1 Напишите селектор, который выберет абзацы, расположенные внутри дивов div. Проверьте ваш селектор на следующем коде*/
div p 
{
    color: rgb(168, 89, 243);
}

/*№ 72#2 Напишите селектор, который выберет все h2, расположенные внутри дивов div. Проверьте ваш селектор на следующем коде*/
div h2 
{
    color:rgb(85, 236, 236)
}

/*№ 72#3 Напишите селектор, который выберет все абзацы p из элемента с id, равным block. Проверьте ваш селектор на следующем коде*/
#bloock p
{
    color:rgb(158, 235, 34)
}

/*№ 72#5 Напишите селектор, который выберет все элементы с классом bbb. Проверьте ваш селектор на следующем коде*/
.bbb
{
    color : rgb(248, 163, 163)
}

/*№ 72#6 Напишите селектор, который выберет все элементы с классом bbb из элемента с id, равным block. Проверьте ваш селектор на следующем коде*/
#blocck .bbcb 
{
	text-align : center;
	color:rgb(230, 27, 230); 
}

/*№ 72#7 Напишите селектор, который выберет все абзацы p с классом bbb. Проверьте ваш селектор на следующем коде*/
p.bbbk
{
    font-size: 40px;
    color :rgb(244, 185, 38);
}

/*№ 72#8 Напишите селектор, который выберет все h2 с классом bbb. Проверьте ваш селектор на следующем коде*/
h2.bbb1 
{
    font-size: 30px;
    color :rgb(222, 44, 44);
}

/*№ 72#9 Напишите селектор, который выберет все абзацы p с классом bbb из элемента с id, равным block. Проверьте ваш селектор на следующем коде*/
#block2 p.bbb2 
{
    font-size: 35px;
    color:rgb(157, 187, 244);
}

/*№ 72#17 Напишите селектор, который выберет все h2 с классом bbb из элемента с классом fff. Проверьте ваш селектор на следующем коде*/
.fff6 h2.bbb6 
{
    font-size: 45px;
    text-align : center;
    color:rgb(254, 203, 84) ;
}

/* № 77#1 Напишите селектор, который выберет элемент, находящийся сразу после элемента #elem */
#elem77-1 + li 
{
    color: rgb(154, 108, 215);
}

/* № 77#2 Напишите селектор, который выберет элементы, находящиеся сразу после элементов .elem */ 
.elem77-2 + li 
{
    color: rgb(203, 238, 46);
}

/* № 78#1 Напишите селектор, который выберет элемент, находящийся сразу после элемента #elem */
#elem78 ~ li 
{
    color:rgb(150, 251, 48);
    font-size: 25px;
}

/* № 79#1 Напишите селектор, который выберет все абзацы, находящийся внутри любого родителя внутри тега main.*/
main * p 
{
    color: rgb(232, 19, 125);
}

/*№ 80#1 Напишите селектор, который выберет все элементы с атрибутом title. */
[title] 
{
    color: rgb(154, 1, 154); 
    font-family: Verdana;
}

/*№ 80#2 Напишите селектор, который выберет все абзацы с атрибутом title. */
p[title1] 
{
    color: blue; 
    font-style: italic; 
}

/* № 80#3 Напишите селектор, который выберет все абзацы с атрибутом title, который равен 'hello'. */
p[title3="hello"] 
{
    color:brown;
    font-weight: bold;
}

/*№ 80#4 Напишите селектор, который выберет все ссылки с атрибутом href, значение которого начинается на 'http://'. */
a[href^="http://"] 
{
    color:rgb(255, 54, 121);
    text-align: center;
}

/* № 80#5 Напишите селектор, который выберет все ссылки с атрибутом href, значение которого заканчивается на '.html'.*/
a[href$=".html"] 
{
    color: orangered;
}

/*№ 80#6 Напишите селектор, который выберет все абзацы с атрибутом title, в значении которого есть слово 'hello'.*/
p[title6*="hello"] 
{
    font-style: italic;
    font-size: 20px;
}

/*№ 80#7 Напишите селектор, который выберет все абзацы с классом, который начинается на 'top-'.*/
p[class^="top-"] 
{
    color: rgb(6, 149, 56);
    font-size: 20px;
}

/*№ 82#1 Сделайте все ссылки в состоянии :hover красными и неподчеркнутыми, в состоянии :link - голубыми, в состоянии :visited - зелеными, в состоянии :active - черными.*/
.task82:link 
{
    color: blue; 
    text-decoration: none; 
}
  
.task82:visited 
{
    color: green; 
    text-decoration: none;
}
  
.task82:hover 
{
    color: red; 
    text-decoration: none; 
}
  
.task82:active 
{
    color: black;
    text-decoration: none; 
}

/* № 84#1 Сделайте все ссылки во всех состояниях голубыми и неподчеркнутыми, а в состоянии :hover - красными и подчеркнутыми.*/
.task84 
{
    color: blue; 
    text-decoration: none; 
}
.task84:hover 
{
    color: red; 
    text-decoration: underline;
}

/* № 85#1 Затем напишите HTML код, подходящий под этот селектор.*/
#task85 a 
{
	color: red;
}
#task85 a:hover 
{
	text-decoration: none;
}

/* № 86#1 Затем напишите HTML код, подходящий под этот селектор. */
a.zzz1 
{
	color: red;
}
a.zzz1:hover 
{
	text-decoration: none;
}

/* № 86#2 Затем напишите HTML код, подходящий под этот селектор. */
#task86_2 a.zzz2 
{
	color: red;
}
#task86_2 a.zzz2:hover 
{
	text-decoration: none;
}

/* № 86#3 Затем напишите HTML код, подходящий под этот селектор. */
.task86_3 a.zzz3 
{
	color: red;
}
.task_86 a.zzz3:hover 
{
	text-decoration: none;
}

/* № 88#1 Выберите третьи элементы с начала*/
.task88_1 p:first-of-type 
{
    color:darkblue;
}
.task88_1 p:last-of-type
{
    color: purple;
}

/* № 88#2 Выберите четные и нечетные элементы */
.task88_2 p:nth-last-of-type(even)
{
    color:rgb(160, 12, 162);
}
.task88_2 p:nth-of-type(odd)
{
    color: rgb(7, 192, 53);
}

/* № 88#3 Выберите каждый третий элемент */
.task88_3 
{
	border: 1px dashed rgb(255, 0, 225);
	padding: 15px;
	margin-bottom: 10px;
}
h2:only-of-type 
{
	color: red;
}
